<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <![endif]-->
    <title>童话车票</title>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="robots" content="all">
    <meta name="author" content="Tencent-CP">
    <meta name="Copyright" content="Tencent">
    <meta name="Keywords" content="">
    <meta id="share-description" itemprop="description" name="Description" content="">
    <meta id="share-name" itemprop="name" content="">
    <meta id="share-image" itemprop="image" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    
    <!-- rem布局初始化设置start -->
    <script type="text/javascript">
        <%= require('raw-loader!./src/js/app/rem.js') %>
    </script>
    <!-- rem布局初始化设置end -->

    <% if (process.env.NODE_ENV === 'handover') { %>
        <% for (var css in htmlWebpackPlugin.files.css) { %>
            <% var cssFile = htmlWebpackPlugin.files.css[css] %>
            <link href="<%= cssFile %>" rel="stylesheet">
        <% } %>
    <% } else { %>
        <% for (var css in htmlWebpackPlugin.files.css) { %>
            <% var cssFile = htmlWebpackPlugin.files.css[css].substr(htmlWebpackPlugin.files.publicPath.length); %>
            <link href="<%= cssFile %>" rel="stylesheet">
        <% } %>
    <% } %>

    <!-- 授权加代码统计系统 -->
    <!-- <script id="__ga" type="text/javascript" src="https://ga.treedom.cn/ga.js?v=0.3.4&pid=9999"></script> -->
</head>
<body>
    <div class="m-main-wrap absf">

        <!-- 可删除 start -->
        <!-- <button style="position: absolute;z-index: 2;top: 40%;left: 20%;" onclick="document.querySelector('.m-vertical').style.display='block';document.querySelector('.m-horizontal').style.display='none'">竖屏显示</button> -->
        <!-- <button style="position: absolute;z-index: 2;right: 20%;top: 40%;" onclick="document.querySelector('.m-vertical').style.display='none';document.querySelector('.m-horizontal').style.display='block'">横屏显示</button> -->
        <!-- 可删除 end -->
        
        <!-- 竖屏页 -->
        <div class="m-vertical absf">
            <div class="m-wrap sizcover abcter" style="display: none;">
                <!-- 业务逻辑代码 stat -->
                <div class="m-loading absf">
                    <div class="bg abcter sizcont">
                        <div class="icon-loading abs"></div>
                        <!-- 加载 -->
                        <div class="loading-ani abcter">
                            <ul class="train" style="list-style: none;">
                                <li class="train-item sizcont"></li>
                                <li class="train-item sizcont"></li>
                                <li class="train-item sizcont"></li>
                                <li class="train-item sizcont"></li>
                                <li class="train-item sizcont"></li>
                                <li class="train-item sizcont"></li>
                                <li class="train-item sizcont"></li>
                                <li class="train-item sizcont"></li>
                                <li class="train-item sizcont"></li>
                            </ul>
                        </div>
                        <div class="btn-play abcter sizcont"></div>
                    </div>
                </div>
                <!-- 视频开始播放 -->
                
                <div class="m-video abcter sizcont">
                    <div class="btn-skip abs sizcont">跳过</div>
                    <!-- js代码中添加视频播放 -->
                </div>

                <!-- 视频播放完成 -->
                <div class="m-end absf sizcont">
                    <div class="bg abcter sizcont">
                        <div class="m-video-two abcter sizcont">

                        </div>
                        <!-- 童话成真 -->
                        <div class="btn-want-donate abcter sizcont"></div>
                    </div>
                </div>
                
                <!-- 捐款页面 -->
                <!-- 待补充，取消捐款没有过渡效果，层级原因，z-index分配不合理 -->
                <div class="donate-warp abcter sizcont">
                    <div class="money-warp money-top abs sizcont">
                        <div class="btn-want-donate abcter sizcont"></div>
                        <a class="btn-money sizcont abcter">1</a>
                        <a class="btn-money sizcont abcter">5</a>
                        <a class="btn-money sizcont abcter">10</a>
                        <input type="number" class="hover-money abcter" value="5">
                        <div class="btn-donate abcter"></div>
                        <div class="btn-close abcter"></div>
                    </div>
                </div>

                <!--  分享页面-->
                <div class="m-share absf sizcont">
                    <div class="bg sizcont abcter"></div>
                    <div class="headimg abcter sizcont"></div>
                    <div class="text tcter">
                        我是<br>第<i>。。。</i>位守护者
                    </div>
                    <div class="p-img abcter sizcover"></div>
                    <div class="btn-save sizcont abcter"></div>
                </div>
                <div class="m-share-img sizcont absf">
                    <div class="bg abcter sizcont"></div>
                    <div class="save-share abcter sizcont">
                        <img class="save-img" src="<%= require('./src/img/share/shareImg/share_img_1.jpg') %>" alt="">
                    </div>
                    <div class="save-tips abcter sizcont">长按图片保存至相册</div>
                </div>
                <!-- 业务逻辑代码 end -->
            </div>
        </div>
        
        <!-- 横屏页 -->
        <div class="m-horizontal absf">
            <div class="m-wrap sizcover abcter">
                <!-- 同上 -->
            </div>
        </div>

        <!-- loading小动画 -->
        <!-- <div class="icon-loading absf hide">
            <div class="inner abcter">
                <svg class="abcter" version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50">
                    <path fill="#000"
                        d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
                        <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25"
                            to="360 25 25" dur="0.6s" repeatCount="indefinite" />
                    </path>
                </svg>
            </div>
        </div> -->
    </div>

    <!-- 微信分享JSDK 需要时打开 -->
    <!-- <script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script> -->

    <!--  正式上线可替换此zepto（腾讯CDN） -->
    <!-- <script src="//cdnjs.gtimg.com/cdnjs/libs/zepto/1.0rc1/zepto.min.js"></script> -->

    <!-- 本地zepto -->
    <script src="<%= require('./src/js/lib/zepto.min.1.2.js') %>"></script>
    
    <% if (process.env.NODE_ENV === 'handover') { %>
        <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
            <% var jsFile = htmlWebpackPlugin.files.chunks[chunk].entry; %>
            <script type="text/javascript" src="<%= jsFile %>"></script>
        <% } %>
    <% } else { %>
        <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
            <% var jsFile = htmlWebpackPlugin.files.chunks[chunk].entry.substr(htmlWebpackPlugin.files.publicPath.length); %>
            <script type="text/javascript" src="<%= jsFile %>"></script>
        <% } %>
    <% } %>

    </body>
</html>
